<div class="entry">
    <h3>
        <a href="{{ include.post.url }}">{{ include.post.title }}</a>
        <small>
            {{ include.post.date | date: "%b %-d, %Y" }}
            {% if include.post.author %} &bullet; <a href="/about/contributors#{{ include.post.author }}">{{ site.data.authors[include.post.author].name }}</a>{% endif %}
            {% if include.post.rating %} &bullet; Rating: {{ include.post.rating }}{% endif %}
            {% if include.post.content_warnings %} &bullet; Contains {{ include.post.content_warnings|join:', ' }}{% endif %}
        </small>
    </h3>
    <div class="excerpt">{{ include.post.excerpt }}</div>
    <p class="more"><em><a href="{{ include.post.url }}">Read more</a></em></p>
</div>
