html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    border: none;
    padding: 0 0 120px 0;
    margin: 0;
    min-height: 100%;
    position: relative;
    background-color: $dark;
    color: $light;
    font-family: $serif;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6,
header, footer {
    font-family: $sans-serif;
}

h1, h2, h3, h4, h5, h6, nav {
    a,
    a:visited,
    a:active,
    a:hover {
        text-decoration: none;
        color: $dark;
    }
}

pre, code {
    font-family: $monospace;
    font-size: 14px;
}

pre {
    overflow-x: scroll;
}

code {
    @extend %callout;
    padding: 3px;
}

hr {
    margin-bottom: 2em;
    max-width: 80%;
    border-bottom-width: 0px;
}

img {
    vertical-align: middle;
}

header, footer {
    position: relative;
    padding: 1em 0;
    background-color: $light;
    color: $dark;
    border: 5px solid $border;
    border-width: 5px 0;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 1em;
}

header {
    border-top-width: 10px;

    h1 {
        letter-spacing: 5px;
        font-family: $monospace;
    }

    img {
        height: 2em;
        vertical-align: middle;
    }

    nav {
        width: 100%;
        padding: 0 0 2px 0;
        margin: 0 0 -1em 0;

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                display: inline-block;
                padding-right: 1em;
            }
        }
    }
}

footer {
    border-bottom-width: 10px;
    font-size: 12px;
    height: 120px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    .wrapper {
        margin-right: 80px;

        div img {
            vertical-align: middle;
        }
    }
}

article {
    padding: 2em 0 0 0;

    h2 {
        margin-top: -0.5em;
    }

    a {
        color: $link-regular;

        &:hover,
        &:visited,
        &:active {
            color: $link-visited;
        }
    }

    // I like this font, but it's a little tight when mixing italics and
    // non-italics in the same paragraph
    em:after {
        content: ' ';
        display: inline-block;
        width: 3px;
    }

    .license {
        max-width: 400px;
        padding-top: 2px;
        border-top: 1px solid darken($light, 25%);
        color: darken($light, 25%);
        font-size: 12px;
    }
}

.post {
    margin: 0 auto;
    max-width: 640px;
    line-height: 1.75;
    font-size: 16px;
    text-align: justify;

    .title {
        margin-bottom: 0;
    }

    .content {
        margin-top: 1em;

        h1, h2, h3, h4, h5, h6 {
            font-family: $serif;
            font-style: italic;
            padding: 0.5em 0 0 0.5em;
            margin: 0;

            // Dedent first paragraph after a header
            & + p {
                text-indent: 0;
            }
        }

        // Reset some sizes that browser stylesheets may clobber.
        h1 { font-size: 2em; }
        h2 { font-size: 1.75em; }
        h3 { font-size: 1.5em; }
        h4 { font-size: 1.25em; }

        p {
            margin: 0;
            padding: 0;
            text-indent: 1em;
            letter-spacing: 0.5px;
        }

        // Dedent first paragraph, and first paragraph after a horizontal rule
        p:first-of-type, hr + p {
            text-indent: 0;
        }

        p.license {
            margin-top: 2em;
            text-indent: 0px;
            text-align: left;
        }
    }

    .attribution {
        font-family: $sans-serif;
        font-size: 12px;
    }
}

.entries {
    margin: 0 auto;
    max-width: 640px;
    .entry {
        h3 {
            margin-top: 0;
            margin-bottom: 0.25em;

            small {
                display: block;
                font-size: 12px;
            }
        }

        .excerpt {
            @extend %callout;

            p:first-of-type {
                margin-top: 0;
            }

            p:last-of-type {
                margin-bottom: 0;
            }
        }

        .more {
            margin-top: 0;
            text-align: right;
        }
    }
}

.pagination {
    .page {
        width: 33%;
        display: inline-block;

        &:last-of-type {
            width: auto;
        }

        &.previous {
            text-align: right;
        }
        &.current {
            text-align: center;
        }
    }
}

.comments {
    margin-top: 3em;
    position: relative;

    .expand-trigger {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2em;
        border: 1px solid white;
        display: block;
        opacity: 0;
        cursor: pointer;
    }

    #disqus_thread {
        display: none;
    }

    .expand-trigger:checked ~ #disqus_thread {
        display: block;
    }
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-top:   5px dashed $light;
    border-right: 5px solid transparent;
    border-left:  5px solid transparent;
}

@media only screen and (min-width: 960px) {

    footer .wrapper {
        div {
            width: 49%;
            vertical-align: top;
            display: inline-block;
            margin-top: 1em;

            &:last-of-type {
                text-align: right;
            }
        }
    }

    .post p {
        text-indent: 2em;
    }

}

@media only screen and (min-width: 1100px) {
    body {
        padding-bottom: 100px;
    }

    footer {
        height: 100px;
        .wrapper {
            margin: 0 auto;
        }
    }
}
