html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    border: none;
    padding: 0 0 120px 0;
    margin: 0;
    min-height: 100%;
    position: relative;
    background-color: $dark;
    color: $light;
    font-family: $serif;
    line-height: 1.5;

    *::selection {
        color: $dark;
        background-color: $light;
    }
}

h1, h2, h3, h4, h5, h6,
header, footer {
    font-family: $sans-serif;
}

h1, h2, h3, h4, h5, h6, nav {
    a,
    a:visited,
    a:active,
    a:hover {
        text-decoration: none;
        color: $dark;
    }
}

pre, code {
    font-family: $monospace;
    font-size: 14px;
}

pre {
    overflow-x: scroll;
}

code {
    @extend %callout;
    padding: 0px;
}

hr {
    margin: 1em auto;
    max-width: 80%;
    border-bottom-width: 0px;
}

img {
    vertical-align: middle;
}

article a svg {
    height: 16px;
    width: 16px;
    vertical-align: middle;
}

header, footer {
    position: relative;
    padding: 1em 0;
    background-color: $light;
    color: $dark;
    border: 5px solid $border;
    border-width: 5px 0;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 1em;
}

.clearfix {
    @extend %clearfix;
}

.sans-serif {
    font-family: $sans-serif;
    font-size: 12px;
}

.serif {
    font-family: $serif;
}
