---
layout: default
---

<div class="entries">
    {% for post in paginator.posts %}
        <div class="entry">
            <h3>
                <a href="{{ post.url }}">{{ post.title }}</a>
                <small>
                    {{ post.date | date: "%b %-d, %Y" }}
                    {% if post.author %} &bullet; <a href="{{ site.data.authors[post.author].uri }}">{{ site.data.authors[post.author].name }}</a>{% endif %}
                    {% if post.rating %} &bullet; Rating: {{ post.rating }}{% endif %}
                    {% if post.content_warnings %} &bullet; Contains {{ post.content_warnings|join:', ' }}{% endif %}
                </small>
            </h3>
            <div class="excerpt">{{ post.excerpt }}</div>
            <p class="more"><em><a href="{{ post.url }}">Read more</a></em></p>
            <hr />
        </div>
    {% else %}
        <em>No entries</em>
    {% endfor %}
</div>

{% if paginator.previous_page or paginator.next_page %}
<div class="pagination">
    <div class="page previous">
        {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path }}">Previous</a>
        {% else %}
            Previous
        {% endif %}
    </div>
    <div class="page current">
        Page: {{ paginator.page }} of {{ paginator.total_pages }}
    </div>
    <div class="page next">
        {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path }}">Next</a>
        {% else %}
            Next
        {% endif %}
    </div>
</div>
{% endif %}
