---
layout: base
---

<div class="post">
    <h2 class="title">{{ page.title }}</h2>
    <section class="attribution">
        {{ page.date | date: "%b %-d, %Y" }} &bullet;
        {% if page.author %}
            <a href="/about/contributors#{{ page.author }}">
                {{ site.data.authors[page.author].name }}
            </a>
        {% else %}
            <em>Anonymous</em>
        {% endif %}
    </section>
    <section class="content">
        {{ content }}
    </section>
</div>

<div class="comments expandable">
    <h2>Comments <span class="caret"></span></h2>
    <input class="expand-trigger" type="checkbox" />
    <p>Before posting a comment, be sure to read the <a href="/conduct">code of conduct</a>.</p>
    <div id="disqus_thread" class="expand-content"></div>
</div>

<script>
var disqus_config = function () {
this.page.url = "https://post-self.github.io";  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = "{{ page.url }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = '//post-self.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
